<app-navbar></app-navbar>
<p class="bg-dark" style="border: 0px; margin: 0px;"><input class="bg-light" style="border: 0px; margin: 0;" type="text" [(ngModel)]="searchCriteria" placeholder="Search"></p>
<table [ngClass]="tbl" *ngIf="vendors">
    <thead>
        <tr>
            <th>Id<button (click)="sortFn('id')" class="btn btn-link"><img [src]="idImg" width="45px"></button></th>
            <th>Name<button (click)="sortFn('name')" class="btn btn-link"><img [src]="nameImg" width="45px"></button></th>
            <th>Part Number<button (click)="sortFn('partNbr')" class="btn btn-link"><img [src]="partNbrImg" width="45px"></button></th>
            <th>Price<button (click)="sortFn('price')" class="btn btn-link"><img [src]="priceImg" width="45px"></button></th>
            <th>Photo<button (click)="sortFn('photo')" class="btn btn-link"><img [src]="photoImg" width="45px"></button></th>
            <th>Unit<button (click)="sortFn('unit')" class="btn btn-link"><img [src]="unitImg" width="45px"></button></th>
            <th>Vendor<button (click)="sortFn('vendorId')" class="btn btn-link"><img [src]="vendorIdImg" width="45px"></button></th>
            <th style="text-align: center;" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | searchProduct: searchCriteria | sort:sortColumn:sortAsc">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.partNbr}}</td>
            <td>{{p.price | currency}}</td>
            <td>{{p.photoPath}}</td>
            <td>{{p.unit}}</td>
            <td>{{p.vendor?.name}}</td>
            <td> <a routerLink="/product/detail/{{p.id}}">Details</a> </td>
            <td> <a routerLink="/product/edit/{{p.id}}">Edit</a> </td>
        </tr>
    </tbody>
</table>
<a style="color: black;" routerLink="/product/create">Create New Product</a>