<app-navbar></app-navbar>
<table [ngClass]="tbl">
    <tbody>
        <tr>
            <th>Username</th>
            <td> <input [(ngModel)]="newUser.username" type="text"> </td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input [(ngModel)]="newUser.password" type="password"></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td><input [(ngModel)]="newUser.firstname" type="text"></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><input [(ngModel)]="newUser.lastname" type="text"></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td><input [(ngModel)]="newUser.phone" type="text"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input [(ngModel)]="newUser.email" type="text"></td>
        </tr>
        <tr>
            <th>Is Reviewer</th>
            <td><input [(ngModel)]="newUser.isReviewer" type="checkbox"></td>
        </tr>
        <tr>
            <th>Is Admin</th>
            <td><input [(ngModel)]="newUser.isAdmin" type="checkbox"></td>
        </tr>
    </tbody>
</table>
<button (click)="create()" class="btn-success">Create User</button>