<app-navbar></app-navbar>
<div style="text-align: center; list-style: inside;">
<h1>Welcome to Me!</h1>
    <div>
        <address>

            <span>Zha'Quon "Z" Poindexter</span> |
            <span>Ivy Pointe HQ</span> |
            <span>(304)932-8835</span> |
            <span>zpoindexter@tql.com</span> 
        </address>
    </div>
    <div>
        <h3>
            What I've Learned From MAX
        </h3>
        <ul>
            <li>Git & GitHub</li>
            <li>Sql Server</li>
            <li>C#</li>
            <li>Entity Framework</li>
            <li>HTML/CSS/Bootstrap/JQuery</li>
            <li>JavaScript</li>
            <li>Angular/Typescript</li>
        </ul>
    </div>
    <div>
        <h3>My Previous Roles</h3>
        <ul>
            <li>Logistics Account Executive | 2018-2019</li>
            <li>Sales Assistant | 2019-2020</li>
            <li>Sales Assistant II | 2020-2021</li>
        </ul>
    </div>
    <div>
        <img [src]="image" width="50%">
    </div>
</div>